body {
    font: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #232830;
}
.container {
    max-width: 1236px;
    margin: 60px auto;
}
header {
    border-width: 5px;
    border-color: red;
    border-style: solid;
    height: 515px;
}
a {
    color:#ffffff;
    text-decoration: none;
    margin-left: 20px;
}
#page-title {
    font-size: 71px;
    font-style: italic;
    color: #FF7575;
}
#page-subtitle {
    font-size: 29px;
    color: #ffffff;
    padding-top: 5px;
}
nav {
    border-width: 5px;
    border-color: orange;
    border-style: solid;
    height: 65px;
}
section {
    border-width: 5px;
    border-color: greenyellow;
    border-style: solid;
    height: 1391px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article {
    width: 390px;
    height: 390px;
    background-color: #ffffff;
    border: 1px solid #232830;
    border-radius: 20px;
    margin-top: 10px;
}
div #article-title {
    width: 337px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
}
div #article-subtitle {
    width: 337px;
    margin: 0px auto;
    margin-bottom: 10px;
    font-weight: 400;
}
div #article-date {
    width: 337px;
    margin: 0px auto;
    font-weight: 400;

}
#pagenav {
    border-width: 5px;
    border-color: pink;
    border-style: solid;
    height: 47px;
}
footer {
    border-width: 0.5px;
    border-top: #545e6e;
    border-style: solid;
    height: 68px;
}